{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QueryFlex</title>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/output.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/brand/cat.png' %}">
  <script type="text/javascript" src="{% static 'assets/js/home.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
  <!-- Header -->
  <header class="bg-white shadow p-4">
      <div class="container mx-auto flex justify-between items-center">
          <!-- Logo -->
          <div class="flex items-center space-x-2">
              <img src="{% static '/assets/img/brand/cat.png' %}" alt="Logo" class="w-10 h-10">
              <span class="text-xl font-mono">QueryFlex</span>
          </div>

          <!-- Feedback Button -->
          <button class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
              Feedback
          </button>
      </div>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto flex-grow mt-8 p-4">
        <!-- First Section -->
        <section style="display: grid; grid-template-columns: 0.5fr auto 1fr; gap: 1rem; margin-bottom: 2rem;">
          <div id="left-div" class="bg-gray-200 p-4 rounded shadow text-left flex flex-col max-h-[calc(100vh-2rem)] overflow-y-auto">
              <div class="flex justify-between space-x-4 mb-4">
                  <div class="flex flex-col w-1/2">
                      <label for="select-query-type" class="text-sm font-medium text-gray-700 text-left">Select Query Type</label>
                      <select id="select-query-type" class="p-2 border rounded">
                          <option value="INSERT">INSERT</option>
                      </select>
                  </div>
              </div>
      
              <!-- Code Section for SQL Query -->
              <div class="flex flex-col mb-4 flex-grow">
                <label for="sql-query" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter SQL Query</label>
                <textarea id="sql-query" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-80 max-h-80 overflow-y-auto" placeholder="Paste your SQL query here"></textarea>

            </div>
            
          </div>
      
          <!-- Arrow Button (Middle Div) -->
          <div class="flex justify-center items-center">
            <button id="convert-btn" class="text-white p-4 rounded-full transition relative w-12 h-12"
            style="background-image: url('{% static 'assets/img/icons/arrow-btn.png' %}'); background-size: cover;
                   background-position: center;"
            onmouseover="this.style.transform='scale(1.1)'; this.style.boxShadow='0 4px 15px rgba(0, 0, 0, 0.2)'"
            onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='none'" onclick="convertQueryToTable()">
    </button>
    
          </div>

          <div id="right-div" class="bg-gray-200 p-4 rounded shadow text-center max-h-[calc(100vh-2rem)] overflow-y-auto">
            <div class="table-container mt-6 text-left" id="tables-container">
          </div>
        </div>
      </section>
      

      <!-- Second Section -->
      <section class="bg-white p-4 rounded shadow">
        <div class="space-y-4">
            <!-- SQL Result Label -->
            <div>
                <label for="sql-result" class="text-lg font-semibold text-gray-700">SQL Result</label>
            </div>
    
            <!-- SQL Result Textarea -->
            <div class="relative">
                <textarea id="sql-result" class="p-4 border border-gray-300 rounded-lg font-mono bg-gray-100 text-gray-800 w-full h-40 resize-none focus:outline-none focus:ring-2 focus:ring-blue-500 text-left" placeholder="Enter SQL result here...">
                -- SQL Result will be displayed here
                </textarea>
                <!-- Copy Button -->
                <button onclick="copyToClipboard()" class="absolute top-1 right-2 bg-blue-500 text-white px-3 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Copy
                </button>
            </div>
        </div>
    </section>
  </main>
  <!-- Footer -->
  <footer class="bg-gray-800 text-white p-4 text-center">
      &copy; 2024 My Website. All rights reserved.
  </footer>
</body>
</html>
